<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>source\Appccelerate.EventBroker.sln</Name>
  <NugetSpecFolder>assets/nuget</NugetSpecFolder>
  <SourceFolder>source</SourceFolder>
  <BuildCommand>msbuild source\Appccelerate.EventBroker.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild source\Appccelerate.EventBroker.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="https://teamcity.bbv.ch/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Appccelerate.Fundamentals" Version="" Mode="Float" />
    <Dependency Name="FluentAssertions" Version="" Mode="Float" />
    <Dependency Name="Machine.Specifications" Version="0.6.1" Mode="Fixed" />
    <Dependency Name="xunit" Version="1.9.2" Mode="Fixed" />
    <Dependency Name="xunit.extensions" Version="1.9.2" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs>
    <Nuspec File="appccelerate.eventbroker.nuspec" Project="appccelerate.eventbroker" />
  </Nuspecs>
</ripple>